@* Se o usuário estiver logado exibe o nome caso contrário oferece ao usuário o link para fazer login. *@

@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="btn btn-sm btn-primary mr-2" asp-controller="Account" asp-action="Details">
            <i class="fas fa-user mr-2"></i> @Context.User.Identity.Name
        </a>
    </li>
    <li class="nav-item">
        <button class="btn btn-sm btn-outline-dark" onclick="document.location.href = '/Account/Logout'">Logout</button>
    </li>
}
else
{
    <li class="nav-item">
        <button class="btn btn-sm btn-outline-dark" onclick="document.location.href = '/Account/Login'">Login</button>
    </li>
}
