@* Se o usuário estiver logado exibe o nome caso contrário oferece ao usuário o link para fazer login. *@

@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <button class="btn btn-outline-dark" onclick="document.location.href = '/Account/Logout'">@Context.User.Identity.Name - Logout</button>
    </li>
}
else
{
    <li class="nav-item">
        <button class="btn btn-outline-dark" onclick="document.location.href = '/Account/Login'">Login</button>
    </li>
}
