<h2>About</h2>
<hr />

<p>This project uses the Clean Architecture approach.</p>

<p>To find out more, access the website containing more about the material <a href="https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html" target="_blank">here</a>.</p>

<p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
