<div class="alert alert-warning mt-5">
    <i class="fas fa-triangle-exclamation"></i> Warning
    <hr />
    <p>
        This operation is blocked for your user.
        <strong>Log in or contact your systems administrator.</strong>
    </p>

    <p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-info">Return</a>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
    </p>
</div>
