@model CleanArchMvc.Application.DTOs.ProductDTO

<h2>Edit Product</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <!-- Name field-->
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <!-- Description field-->
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <!-- Price field-->
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>

                </div>

                <!-- Stock field-->
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>

                <!-- CategoryId field-->
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                        <option>--Select a category--</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <!-- Image field-->
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" />
                        <label class="custom-file-label">Select a imagem</label>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <!-- Actions-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-outline-info">Back to list</a>
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
